.dashboard {
  display: flex;
  gap: 1rem;
}

.dashboardContainer {
  width: 100%;
}

.dashboardContainer > h1.MuiTypography-root {
  font-size: 2rem;
  background-color: white !important;
  margin-top: 1.24rem;
}

.dashboardSummary {
  display: grid;
}

.dashboardSummaryBox2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  grid-auto-rows: minmax(140px, auto);
  margin-right: 1rem;
  margin-top: 1rem;
}

.dashboardSummaryBox2 a {
  background-color: #45aaf2;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  flex-direction: column;
  font-family: roboto;
  font-size: 1.9rem;
}

.dashboardSummaryBox2 a:nth-child(3) {
  background-color: #26de81;
}

.dashboardSummaryBox2 a:nth-child(2) {
  background-color: #eb4d4b;
}

.chartContainer {
  padding: 1.8rem 0.7rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.23rem;
  margin: auto;
}

.chartContainer div {
  width: 100%;
  margin: auto;
}

.chartContainer .lineChart {
  width: 100% !important;
}

.chartContainer .doughnutChart {
  width: 70%;
}
