.banner {
  background-image: url("../../images/cover.jfif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vmin;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.banner > h1 {
  margin: 5vmax;

  font: 600 2.5vmax "formular";
}

.banner > p {
  font: 300 1.4vmax "Lucida Sans";
}
.banner > a {
  text-decoration: none;
}
.banner > a > button {
  margin-bottom: 5vmax;
  cursor: pointer;
  background-color: white;
  border: 1px solid white;
  border-radius: 0;
  padding: 1vmax 0.4vmax;
  transition: all 0.5s;
  width: 9vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 500 1.3vmax "Formular";
}

.banner::after {
  content: "";
  width: 100vw;
  height: 100vmin;
  background-color: #fff;
  position: absolute;
  top: 0%;
  left: 0;
  clip-path: polygon(100% 68%, 0 100%, 100% 100%);
  max-width: 100%;
}

.homeHeading {
  text-align: center;
  font-family: "Roboto";
  font-size: 1.4vmax;
  border-bottom: 1px solid rgba(21, 21, 21, 0.5);
  width: 20vmax;
  padding: 1vmax;
  margin: 5vmax auto;
  color: rgb(0, 0, 0, 0.7);
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 2vmax auto;
}

.productCard {
  width: 15vmax;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: rgb(48, 48, 48);
  margin: 1vmax;
  transition: all 0.5s;
  border: 1px solid rgb(207, 204, 204);
  padding-bottom: 0.5vmax;
  font-family: "formular";
  padding: 0.6vmax;
}

.productCardSpan {
  margin: 0.5vmax;
  font: 300 0.7vmax "Roboto";
}
.productCard > p {
  font-family: "Roboto";
  font-size: 1.2vmax;
  margin: 1vmax 0.5vmax;
  margin-bottom: 0;
}
.productCard:hover {
  box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);
}
.productReview_wrapper .MuiRating-root {
  font-size: 15px;
}

.productCard > img {
  width: 14vmax;
  height: 12vmax;
  margin: auto;
}

.productCard div {
  margin: 0.5vmax;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 10px;
  transition: all 0.5s;
}

.productCardSpan {
  margin: 0.5vmax;
  font: 300 0.7vmax "Formular";
}
.productCard > p {
  font-family: "Roboto";
  font-size: 1.2vmax;
  margin: 1vmax 0.5vmax;
  margin-bottom: 0;
}

.productCard > span {
  margin: 0.5vmax;
  color: tomato;
  font-weight: bold;
  font-size: 1vmax;
  font-size: 1rem;
}

.banner > a > button:hover {
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

@media screen and (max-width: 600px) {
  .productCard p {
    font-size: 1.7vmax;
  }
  .productCard > div {
    margin: 0vmax;
    display: block;
  }
  .productReview_wrapper .MuiRating-root {
    font-size: 10px;
  }
  .productReview_wrapper > .productCardSpan {
    display: block;
  }
  .productCard > span {
    font-size: 1.5vmax;
  }

  .productCard > div > span {
    margin: 0 0.5vmax;
    font: 300 1vmax "Roboto";
  }
}
